node_modules
# Keep environment variables out of version control
.env
dist
db

# Terraform files
infra-as-code-database/terraform.tfvars
infra-as-code-database/.terraform/*
infra-as-code-database/.terraform.lock.hcl
infra-as-code-database/terraform.tfstate
